.white-small-card {
  flex: 0 0 calc((100% - 48px) / 3);
  height: 520px;
  border-radius: 28px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #fff;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  width: 300px;
  max-width: 350px;
  margin: 0 auto;
}

.white-small-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
}

.white-small-card .image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-small-card .image-wrapper img {
  max-height: 260px;
  object-fit: contain;
}

.white-small-card .inner {
  margin-top: auto;
  width: 100%;
}

.white-small-card .inner h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 1.3;
}

.white-small-card .inner h4 {
  display: none;
}

.white-small-card .inner p {
  font-size: 18px;
  font-weight: 500;
  color: #1d1d1f;
}

.smallwhitecard {
  font-weight: 600;
  height: 262px;
  flex: 0 0 calc((100% - 48px) / 3);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  width: 300px;
  max-width: 350px;

  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", 
             "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.smallwhitecard .inner h2{
  font-weight: 377;
font-size: 30px;
}
