.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 12vh;
  flex-direction: column;
}

.grey {
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: rgb(245, 245, 247);
  justify-content: center;
  align-items: center;
}

.white {
  background-color: white;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:
    -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.link {
  color: #0071e3;
  font-family:
    -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.greycenter {
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 247);
  width: 70%;
  height: 6vh;
  justify-content: space-between;
}

.atag {
  text-decoration: none;
  font-family:
    -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  color: black;
}

.img {
  width: 1rem;
}
